@model IEnumerable<Museum.Models.DtoModels.ExhibitDto>

@{
    ViewData["Title"] = "ЭКСПАНАТЫ";
}

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Название
            </th>
            <th>
                Категория
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExhibitCategoryName)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.Id  }) |
                @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
