@model IEnumerable<Museum.Models.DbModels.Ticket>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Зарегистрировать билет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Детский
            </th>
            <th>
                Время посещния
            </th>
            <th>
                Стоимость
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsChild)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Подробно", "Details", new { id=item.Id}) |
                        @Html.ActionLink("Удалить", "Delete", new { id=item.Id})
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Сохранить в pdf", "Save", new { id=item.Id }) |
                        @Html.ActionLink("Подробно", "Details", new { id=item.Id}) |
                        @*@Html.ActionLink("Удалить", "Delete", new { id=item.Id})*@
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
